<md-toolbar class="md-primary md-whiteframe-z2">
    <div class="md-toolbar-tools">
        <df-toolbar buttons="leftButtons"></df-toolbar>
        <img class="app-logo-gt-sm" ng-src="{{logoGtSm}}" ng-if="logoGtSm" hide show-gt-sm>
        <img class="app-logo-sm" ng-src="{{logoSm || logoGtSm}}" ng-if="logoSm || logoGtSm" hide show-sm>
        <span ng-if="!(logoSm || logoGtSm)">{{caption}}</span>
        <df-main-menu layout="row" ng-if="isOnMedia(showMenuOnMedia)"></df-main-menu>
        <div layout="row" ng-transclude>

        </div>
        <span flex></span>
        <df-toolbar buttons="rightButtons"></df-toolbar>
    </div>
</md-toolbar>